body{
    margin:0px;
    padding:0px;
  }
  
  .cnt{
    background-color: rgb(79, 73, 73);
    color:white;
    border:4px solid rgb(215, 11, 11);
    text-align: center;
    padding:30px;
  }
  
  .cnt p{
    margin-top: 30px;
    color:silver;
  }
  
  .cnt input[type="email"], textarea {
    background-color : black;
    padding:20px;
    width:650px; 
    height: 50px;
    border:none;
    caret-color: white;
    color:silver;
  }
  
  .cnt input[type="Submit"]{
    height:50px;
    background-color:rgb(215, 11, 11);
    width:100px;
    border:none;
    color:white;
    font-weight: 500;
    transition: 0.2s all;
  }
  
  .cnt input[type="Submit"]:active{
    transform: scale(0.98);
  }
  
  .cnt input[type='checkbox']{
    height:20px;
    width:20px; 
    margin-top:10px;
    accent-color: gray;
    vertical-align:top;
  }
  
  .cnt input[type='checkbox'] + label {
    padding:7.7px 0px 0px 10px;
  }