.jobcard{
    height:18rem;
    width: 30%;
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 12px;
    margin-left: 12px;
}

.jobcard:hover{
    transform: scale(1.05);
    transition: 2s;
    cursor: pointer;
}

.jobcard .company-name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.jobcard .created-at{
    float: right;
    margin-right: 12px;
}

.jobcard .role{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-align: center;

}

.jobcard .location{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 7px;
}

.jobcard .job-type{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 12px;
}

.jobcard .tags{
    width:20%;
    margin-left: 12px;
}

.jobcard .btn{
    width:30%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 1rem;
}



.company-name img{
    border-radius: 100%;
    height: 50px;
    float: left;
    width: 20%;
    margin: 1px 0 0 1px;
    /* border:2px solid black; */
    background-size: cover;
}

.company-name span{
    /* border:2px solid black; */
    margin-right: 4rem;
}