#sidebar {
    background-color: #343a40;
    color: #ffffff;
    height: 100vh;
}

#job-list {
    padding: 20px;
    /* border:2px solid green; */
}

.job-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}