.header h1{
    padding-top: 1rem;
    color:#eee;
}

.header h5{
    color:#eee;
}
.profile{
    /* border:2px solid black; */
    width:20%;
}
.profile .img{
    position: absolute;
    right: 12px;
    top:12px;
}

.profile .img img{
    border-radius: 50%;
    width:120px;
}